{% extends "petapp/base.html" %}

{% block title %} Home - petadopt {% endblock %}

{% block content %}

    <!-- banner -->
    <section
      class="relative bg-cover bg-top h-[650px] flex items-center justify-center"
      style="background-image: url('/media/image/pexels-helen1-16395147.jpg')"
    >
      <div class="absolute inset-0 bg-[#151035] opacity-65"></div>

      <div class="text-center relative z-10 text-white px-4 w-full">
        <h1 class="text-6xl sm:text-5xl md:text-6xl lg:text-8xl font-bold">
          About <span class="text-[#d04f3d]">Us</span>
        </h1>
      </div>
    </section>

    <section
      class="container mx-auto flex flex-col md:flex-row justify-between px-5 lg:px-0 md:px-0 py-16"
    >
      <div>
        <p class="text-lg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          excepturi aperiam eligendi doloremque. Adipisci officia quidem
          sapiente enim minima laborum, ipsa debitis accusantium similique
          ducimus aperiam, sunt, cupiditate quos! Perspiciatis cupiditate
          maiores totam sequi asperiores amet quia quisquam cumque possimus
          consequatur dignissimos
        </p>
        <p class="text-lg py-5">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, fugiat
          aperiam. Quidem perspiciatis consequuntur cumque quisquam nihil
          impedit illo minus, odit, architecto necessitatibus qui accusamus
          eaque, aliquid officiis nisi aut saepe? Eveniet ducimus molestias
          omnis sed nostrum explicabo deleniti tenetur fugiat cum inventore
          dolorem labore sint id suscipit doloribus, distinctio neque atque nisi
          consectetur delectus qui ratione. Nam perspiciatis repellendus sint.
          Obcaecati architecto voluptatibus maxime iste vel! Animi nostrum
          dolorum, tempore assumenda ex accusantium ad deleniti porro deserunt
          esse voluptas inventore nemo asperiores ut voluptatibus iste commodi
          ratione maxime distinctio ab modi illo. Placeat sit animi veritatis
          quasi rem blanditiis quae delectus ipsa hic incidunt vitae beatae
          eveniet optio, quibusdam possimus saepe earum eligendi perferendis
          laboriosam laudantium non tempora, illum dolorum. Tempora et maxime,
          ab assumenda natus temporibus dolor atque minima? Blanditiis
          voluptate, esse architecto, repudiandae nesciunt sint laborum ut
          quisquam distinctio voluptatem, autem perferendis. Dolorem voluptates
          debitis, similique animi eaque ratione cumque, maiores sit eveniet,
          dolore aperiam temporibus quos velit architecto amet est recusandae
          magni laboriosam ea aspernatur id itaque modi soluta! Placeat et
          mollitia, possimus quod molestias soluta!
        </p>
        <p class="text-lg">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
          incidunt commodi reprehenderit dicta, aliquid quo nostrum quidem
          accusantium sed, distinctio rem provident reiciendis, impedit quos
          molestiae cupiditate deleniti magnam aspernatur vitae? Et quaerat
          eaque facere earum possimus, sed ea fugit deleniti rerum eius voluptas
          voluptatum beatae nulla quas atque adipisci quasi illo nihil minima
          accusamus deserunt vitae error. Cupiditate, nostrum veritatis quo
          nulla numquam, sit doloribus rem ex illum et odio laboriosam nesciunt
          a asperiores illo corrupti, deserunt dolores! Magnam reprehenderit
          perferendis nobis ad ipsum, id reiciendis ullam quod voluptate
          quibusdam odio dolor ducimus quia doloribus numquam voluptates?
          Dolores ducimus dolorum odit quisquam totam, dolor iure deserunt,
          reiciendis repellat distinctio ex dignissimos alias culpa expedita
          placeat laboriosam magnam a quos nesciunt magni consequuntur!
          Explicabo non atque aliquid culpa est velit recusandae, itaque
          dignissimos tempore commodi nisi ullam eos deleniti. Magnam omnis,
          excepturi, veniam autem aliquam iste sit hic corrupti eveniet
          temporibus similique, dolor ea at sapiente numquam blanditiis expedita
          possimus!'
        </p>
      </div>
    </section>
{% endblock %}