{% extends "petapp/base.html" %}

{% block title %} Create Pet Post {% endblock %}

{% block content %}
    <!-- header  -->
    <div
      class="relative bg-cover bg-center flex items-center justify-center py-10"
      style="background-image: url('./media/image/pexels-helen1-16395147.jpg')"
    >
      <div class="absolute inset-0 bg-[#062d3e] opacity-70"></div>
      <div
        class="relative z-10 bg-[#062d3e] bg-opacity-80 rounded-2xl p-10 shadow-lg max-w-2xl w-full mx-4"
      >
        <div class="flex justify-center mb-12">
          <img
            src="/media/image/logo.png"
            alt="PetAdopt Logo"
            class="w-32 h-24"
          />
        </div>

        <form class="space-y-4">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <input
              type="text"
              placeholder="Name"
              class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300 placeholder:font-semibold placeholder:text-[#413d3d]"
            />
            <input
              type="text"
              placeholder="Type"
              class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300"
            />
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <input
              type="tel"
              placeholder="Gender"
              class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300"
            />
            <input
              type="tel"
              placeholder="Location"
              class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300"
            />
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <input
              type="tel"
              placeholder="Phone Number"
              class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300"
            />
            <input
              type="tel"
              placeholder="Phone Number (Optional)"
              class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300"
            />
          </div>
          <!-- <textarea placeholder="Description"
                    class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-32 lg:h-40 p-3 rounded-lg border bg-[#fff6e5] border-gray-300 resize-none">
                </textarea> -->
          <textarea
            placeholder="Description"
            name=""
            id=""
            class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold w-full placeholder:text-[#413d3d] h-12 lg:h-40 p-3 rounded-lg border bg-[#fff6e5] border-gray-300 resize-none"
          ></textarea>

          <div class="relative">
            <label
              class="input-field flex items-center focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300 cursor-pointer"
            >
              <i class="fa-solid fa-file-arrow-up text-black text-xl mr-2"></i>
              <span class="text-[#413d3d] font-semibold">Upload Photo</span>
              <input type="file" class="hidden" />
            </label>
          </div>

          <div class="text-center mt-6">
            <button
              type="submit"
              class="w-full bg-[#e95b47] text-white py-3 rounded-lg font-semibold hover:bg-[#e66655] transition text-lg"
            >
              Upload
            </button>
          </div>
        </form>
      </div>
    </div>

{% endblock %}