<footer class="bg-[#062d3e] p-8">
  <div class="container mx-auto flex flex-col md:flex-row justify-between">
    <!-- First Section -->
    <div class="flex flex-col mb-8 md:mb-0 flex-1">
      <div class="flex items-center mb-4">
        <!-- Added margin bottom to space the logo and title -->
        <img
          src="/media/image/logo.png"
          alt="PetAdopt Logo"
          class="object-cover w-24 rounded-md"
        />
        <h1 class="text-3xl font-bold text-white ml-2">
          pet<span class="text-[#e95b47]">adopt</span>
        </h1>
      </div>
      <p class="text-white mb-2 text-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <hr class="border-t-2 border-white my-5" />
      <p class="text-white text-lg">
        © 2024 Petadopt is a registered trademark. All Rights Reserved.
      </p>
    </div>

    <!-- Second Section -->
    <div
      class="mb-8 md:mb-0 flex-1 flex flex-col justify-center items-center"
    >
      <div
        class="w-full flex-none lg:flex items-center justify-center max-w-xs"
      >
        <!-- Set max width for smaller size -->
        <div>
          <h3 class="font-bold text-[#e95b47] mb-4 text-xl text-start">
            Links
          </h3>
          <!-- Centered the heading -->
          <hr class="border-t-2 border-white mb-2 w-28" />
          <!-- Centered the hr -->
          <ul class="space-y-2 text-start">
            <li>
              <a href="{% url 'home' %}" class="text-white text-lg hover:text-blue-300"
                >Home</a
              >
            </li>
            <li>
              <a href="#" class="text-white text-lg hover:text-blue-300"
                >Top Contributors</a
              >
            </li>
            <li>
              <a href="{% url 'items'%}" class="text-white text-lg hover:text-blue-300"
                >Pets</a
              >
            </li>
            <li>
              <a href="{% url 'about'%}" class="text-white text-lg hover:text-blue-300"
                >About Us</a
              >
            </li>
            <li>
              <a href="#" class="text-white text-lg hover:text-blue-300"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Third Section -->
    <div class="flex flex-col flex-1">
      <div class="bg-[#fff6e5] p-4 rounded-md shadow-md flex-1">
        <p class="text-[#062d3e] font-bold text-lg">
          Email: example@example.com
        </p>
        <p class="text-[#062d3e] font-bold text-lg">
          Phone: (123) 456-7890
        </p>
        <div class="mt-4">
          <h4 class="text-md text-xl text-[#062d3e] font-bold">
            Follow Us:
          </h4>
          <div class="flex space-x-4 mt-2 justify-center">
            <!-- Centered the social icons -->
            <a
              href="#"
              class="text-[#062d3e] font-bold"
            >
            <i class="fa-brands fa-youtube text-3xl hover:text-red-700"></i>
            </a>
            <a
              href="#"
              class="text-[#062d3e] font-bold"
            >
            <i class="fa-brands fa-facebook text-3xl hover:text-blue-700"></i>
            </a>
            <i class="fa-brands fa-instagram text-3xl hover:bg-gradient-to-r hover:from-pink-500 hover:to-yellow-500 hover:text-transparent hover:bg-clip-text cursor-pointer"></i>
            <a
              href="#"
              class="text-[#062d3e] font-bold"
            >
            <i class="fa-brands fa-pinterest text-3xl hover:text-red-600"></i>
            </a>
            <a
              href="#"
              class="text-[#062d3e] font-bold"
            >
            <i class="fa-brands fa-twitter text-3xl hover:text-blue-600"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>