{% extends "petapp/base.html" %}

{% block title %} Pets - petadopt {% endblock %}

{% block content %}
    <div>
        <div class="container mx-auto my-12">
            <div class="flex flex-col lg:flex-row gap-8">
                <!-- Sidebar Filter -->
                <div class="w-full lg:w-1/4 bg-white border-r-2 border-[#e95b47]  p-4 mb-6 lg:mb-0">
                    <input type="text" placeholder="Search Pets..."
                        class="w-full p-2 border border-[#e95b47] rounded mb-4 focus:outline-none">
                    <div class="mb-4">
                        <h3 class="text-xl text-[#7c7887] mb-2 font-bold ">Category</h3>
                        <ul class="space-y-1">
                            <li><a href="#" class="text-[#e95b47] hover:text-black text-lg font-bold">Cat</a></li>
                            <li><a href="#" class="text-[#e95b47] hover:text-black text-lg font-bold">Dog</a></li>
                            <li><a href="#" class="text-[#e95b47] hover:text-black text-lg font-bold">Bird</a></li>
                        </ul>
                    </div>
                    <div class="mb-4">
                        <h3 class="text-xl text-[#7c7887] mb-2 font-bold">Locations</h3>
                        <ul class="space-y-1">
                            <li><a href="#" class="text-[#e95b47] hover:text-black text-lg font-bold">All of Bangladesh</a></li>
                            <li><a href="#" class="text-[#e95b47] hover:text-black text-lg font-bold">Dhaka</a></li>
                            <li><a href="#" class="text-[#e95b47] hover:text-black text-lg font-bold">Barishal</a></li>
                            <li><a href="#" class="text-[#e95b47] hover:text-black text-lg font-bold">Khulna</a></li>
                            <li><a href="#" class="text-[#e95b47] hover:text-black text-lg font-bold">Rajshahi</a></li>
                            <li><a href="#" class="text-[#e95b47] hover:text-black text-lg font-bold">Sylhet</a></li>
                        </ul>
                    </div>
                    <div class="mb-4">
                        <h3 class="text-xl text-[#7c7887] mb-2 font-bold">Age</h3>
                        <input type="range" min="0" max="10" class="w-full">
                    </div>
                </div>
                <!-- test -->
                <!-- Pet Listing Section -->
                <div class="w-full lg:w-3/4">
                    <h2 class="text-2xl font-bold mb-4 text-[#e95b47]">Total Items</h2>
                    <div class="space-y-6">
                        <!-- Single Pet Card -->
                        <div class="bg-[#fff6e5] border border-red-200 rounded-lg p-4 flex flex-col sm:flex-row items-start">
                            <img src="/media/image/mikhail-vasilyev-NodtnCsLdTE-unsplash.jpg" alt="Cat"
                                class="w-full sm:w-56 h-48 object-cover rounded-md mb-4 sm:mb-0 sm:mr-4">
                            <div class="flex flex-col">
                                <h3 class="text-xl font-bold text-gray-800">Cat name</h3>
                                <p class="text-[#115470] text-base mt-2 font-semibold">Lorem ipsum dolor sit amet
                                    consectetur adipiscing elit. Maxime mollitia, molestias quas vel sint commodi...</p>
                                <p class="font-semibold text-lg mt-2">Published At: 10/21/2024</p>
                            </div>
                        </div>

                        <div class="bg-[#fff6e5] border border-red-200 rounded-lg p-4 flex flex-col sm:flex-row items-start">
                            <img src="/media/image/mikhail-vasilyev-NodtnCsLdTE-unsplash.jpg" alt="Cat"
                                class="w-full sm:w-56 h-48 object-cover rounded-md mb-4 sm:mb-0 sm:mr-4">
                            <div class="flex flex-col">
                                <h3 class="text-xl font-bold text-gray-800">Cat name</h3>
                                <p class="text-[#115470] text-base mt-2 font-semibold">Lorem ipsum dolor sit amet
                                    consectetur adipiscing elit. Maxime mollitia, molestias quas vel sint commodi...</p>
                                <p class="font-semibold text-lg mt-2">Published At: 10/21/2024</p>
                            </div>
                        </div>
                        
                        <div
                            class="bg-[#fff6e5] border border-red-200 rounded-lg p-4 flex flex-col sm:flex-row items-start">
                            <img src="/media/image/mikhail-vasilyev-NodtnCsLdTE-unsplash.jpg" alt="Cat"
                                class="w-full sm:w-56 h-48 object-cover rounded-md mb-4 sm:mb-0 sm:mr-4">
                            <div class="flex flex-col">
                                <h3 class="text-xl font-bold text-gray-800">Cat name</h3>
                                <p class="text-[#115470] text-base mt-2 font-semibold">Lorem ipsum dolor sit amet
                                    consectetur adipiscing elit. Maxime mollitia, molestias quas vel sint commodi...</p>
                                <p class="font-semibold text-lg mt-2">Published At: 10/21/2024</p>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <div class="flex justify-end mt-6">
                        <nav class="inline-flex rounded-md shadow">
                            <a href="#"
                                class="px-3 py-2 text-[#062d3e] bg-white border border-[#e95b47] rounded-l-md hover:bg-gray-100">Prev</a>
                            <a href="#"
                                class="px-3 py-2 text-[#062d3e] bg-white border-t border-b border-[#e95b47] hover:bg-gray-100">1</a>
                            <span class="px-3 py-2 text-gray-500 bg-white border-t border-b border-[#e95b47]">...</span>
                            <a href="#"
                                class="px-3 py-2 text-[#062d3e] bg-white border-t border-b border-[#e95b47] hover:bg-gray-100">4</a>
                            <a href="#"
                                class="px-3 py-2 text-[#062d3e] bg-white border-t border-b border-[#e95b47] hover:bg-gray-100">5</a>
                            <a href="#"
                                class="px-3 py-2 text-[#062d3e] bg-white border border-[#e95b47] rounded-r-md hover:bg-gray-100">Next</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}