{% extends "petapp/base.html" %}

{% block title %} Login - petadopt {% endblock %}

{% block content %}

    <div
      class="relative bg-cover bg-center min-h-screen flex items-center justify-center"
      style="
        background-image: url('/media/image/pexels-helen1-16395147.jpg');
      "
    >
      <div
        class="absolute inset-0 bg-gradient-to-b from-[#062d3e] to-[#062d3e] opacity-75"
      ></div>

      <!-- Login Form -->
      <div
        class="relative bg-[#062d3e] bg-opacity-90 rounded-3xl p-12 shadow-lg max-w-3xl w-full mx-4"
      >
        <div class="flex justify-center mb-12">
          <img
            src="/media/image/logo.png"
            alt="PetAdopt Logo"
            class="w-40 h-28"
          />
        </div>

        <form class="space-y-8 mt-10">
          <input
            type="email"
            placeholder="jon@gmail.com"
            class="w-full px-5 py-4 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#e95b47] text-lg bg-[#fff6e5]"
          />

          <input
            type="password"
            placeholder="Enter your password"
            class="w-full px-5 py-4 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#e95b47] text-lg bg-[#fff6e5]"
          />

          <div class="text-center mt-8">
            <button
              type="submit"
              class="w-full bg-[#e95b47] text-white py-4 rounded-lg font-semibold hover:bg-[#e66655] transition text-lg"
            >
              Login
            </button>
          </div>
        </form>

        <p class="text-center text-md text-gray-300 mt-8 font-bold text-lg">
          Don’t you have an account?
          <a
            href="{% url 'registration' %}"
            class="text-[#e95b47] hover:underline"
            >Register Now</a
          >
        </p>
      </div>
    </div>
    <!-- test -->
    <!-- test -->
{% endblock %}
