{% extends "petapp/base.html" %}

{% block title %} Pets - petadopt {% endblock %}

{% block content %}
    <div class="relative bg-cover bg-center flex items-center justify-center py-10" style="background-image: url('http://localhost:8000/media/image/pexels-helen1-16395147.jpg');">
        <div class="absolute inset-0 bg-[#062d3e] opacity-70"></div>
        <div class="relative z-10 bg-[#062d3e] bg-opacity-80 rounded-2xl p-10 shadow-lg max-w-2xl w-full mx-4">
            <div class="flex justify-center mb-12">
                <img src="/media/image/logo.png" alt="PetAdopt Logo" class="w-32 h-24">
            </div>
    
            <form method="POST" class="space-y-4">
              {% csrf_token %}
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                  <input type="text" placeholder="First Name" name="firstName" 
                         value="{{ form_data.first_name|default:'' }}" 
                         class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300 placeholder:font-semibold placeholder:text-[#413d3d]">
                  <input type="text" placeholder="Last Name" name="lastName" 
                         value="{{ form_data.last_name|default:'' }}" 
                         class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300">
              </div>
              
              <input type="text" placeholder="Username" name="username" 
                     value="{{ form_data.username|default:'' }}" 
                     class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] w-full h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300">
          
              <input type="email" placeholder="Email Address" name="emailAddress" 
                     value="{{ form_data.email|default:'' }}" 
                     class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] w-full h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300">
          
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                  <input type="tel" placeholder="Phone Number" name="phone1" 
                         value="{{ form_data.phone1|default:'' }}" 
                         class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300">
                  <input type="tel" placeholder="Phone Number (Optional)" name="phone2" 
                         value="{{ form_data.phone2|default:'' }}" 
                         class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300">
              </div>
          
              <input type="text" placeholder="Social Media link (Facebook, Instagram)" name="socialLink" 
                     value="{{ form_data.socialLink|default:'' }}" 
                     class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] w-full h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300">
          
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                  <input type="text" placeholder="Address" name="address" 
                         value="{{ form_data.address|default:'' }}" 
                         class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300">
                  <input type="text" placeholder="State" name="state" 
                         value="{{ form_data.state|default:'' }}" 
                         class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300">
              </div>
          
              <input type="password" placeholder="Password" name="password1" 
                     class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] w-full h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300">
              <input type="password" placeholder="Confirm Password" name="password2" 
                     class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47] placeholder:font-semibold placeholder:text-[#413d3d] w-full h-12 lg:h-14 p-3 rounded-lg border bg-[#fff6e5] border-gray-300">
              {% if messages %}
                {% for message in messages %}
                  {% if message.tags == 'success' %}
                  <div class="bg-green-300 p-4 rounded-lg border border-green-400 text-green-900 font-medium mt-2">
                    <p>{{ message }}</p>
                  </div>
                  {% endif %}
                  {% if message.tags == 'error' %}
                  <div class="bg-red-300 p-4 rounded-lg border border-red-400 text-red-900 font-medium mt-2">
                    <p>{{ message }}</p>
                  </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
              <p class="text-start text-sm lg:text-lg font-bold text-gray-300 mt-4">
                  Already have an account? <a href="{% url 'login' %}" class="text-[#e95b47] hover:underline">Login Now</a>
              </p>
          
              <div class="text-center mt-6">
                  <button type="submit" class="w-full bg-[#e95b47] text-white py-3 rounded-lg font-semibold hover:bg-[#e66655] transition text-lg">Register</button>
              </div>
            </form>
    
            <div class="bg-yellow-300 text-yellow-900 border border-yellow-400 text-start p-3 rounded-lg mt-8 flex items-center justify-center font-extrabold text-sm lg:text-lg gap-3 ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                </svg>
              
                <span class="text-md font-medium">Please make sure you update the status of your post after the pet is adopted successfully.</span>
            </div>
        </div>
    </div>
{% endblock %}