<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Registration Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body >
    <nav class="bg-[#fff6e5] py-">
        <div class="container mx-auto flex items-center justify-between py-3 px-4">

            <!-- Logo -->
            <div class="flex items-center space-x-2">
                <img src="http://localhost:8000/media/image/logo.png" alt="Logo" class="w-28">
            </div>


            <div class="md:hidden">
                <button @click="open = !open" class="text-gray-800 focus:outline-none">
                    <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>

            <div :class="{'block': open, 'hidden': !open}" class="hidden md:flex items-center space-x-8">
                <ul class="flex flex-col md:flex-row md:space-x-8 text-gray-800 md:mt-0 mt-4 text-center mr-64">
                    <li><a href="#" class="hover:text-[#d04f3d] text-xl font-bold">Home</a></li>
                    <li><a href="#" class="hover:text-[#d04f3d] text-xl font-bold">Top Contributors</a></li>
                    <li><a href="#" class="hover:text-[#d04f3d] text-xl font-bold">Pets</a></li>
                    <li><a href="#" class="hover:text-[#d04f3d] text-xl font-bold">About Us</a></li>
                    <li><a href="#" class="hover:text-[#d04f3d] text-xl font-bold">Contact</a></li>
                </ul>

                <a href="#"
                    class="mt-4 md:mt-0 bg-[#E95B47] text-white font-semibold px-12 py-2 rounded hover:bg-[#d04f3d] text-center ma">Donate</a>
            </div>
        </div>
    </nav>

    <div class="relative bg-cover bg-center flex items-center justify-center py-10" style="background-image: url('http://localhost:8000/media/image/pexels-helen1-16395147.jpg');">
        <div class="absolute inset-0 bg-[#062d3e] opacity-70"></div>
        <div class="relative z-10 bg-[#062d3e] bg-opacity-80 rounded-2xl p-10 shadow-lg max-w-2xl w-full mx-4">
            <div class="flex justify-center mb-12">
                <img src="http://localhost:8000/media/image/logo.png" alt="PetAdopt Logo" class="w-32 h-24">
            </div>
    
            <form class="space-y-4">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <input type="text" placeholder="First Name" class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47]  h-12 lg:h-14 p-3  rounded-lg border bg-[#fff6e5] border-gray-300 placeholder:font-semibold placeholder:text-[#413d3d]">
                    <input type="text" placeholder="Last Name" class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47]  placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3  rounded-lg border bg-[#fff6e5] border-gray-300">
                </div>
    
                <input type="email" placeholder="Email Address" class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47]  placeholder:font-semibold placeholder:text-[#413d3d] w-full h-12 lg:h-14 p-3  rounded-lg border bg-[#fff6e5] border-gray-300">
    
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <input type="tel" placeholder="Phone Number" class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47]  placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3  rounded-lg border bg-[#fff6e5] border-gray-300">
                    <input type="tel" placeholder="Phone Number (Optional)" class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47]  placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3  rounded-lg border bg-[#fff6e5] border-gray-300">
                </div>
    
                <input type="text" placeholder="Social Media link (Facebook, Instagram)" class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47]  placeholder:font-semibold placeholder:text-[#413d3d] w-full h-12 lg:h-14 p-3  rounded-lg border bg-[#fff6e5] border-gray-300">
    
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <input type="text" placeholder="Address" class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47]  placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3  rounded-lg border bg-[#fff6e5] border-gray-300">
                    <input type="text" placeholder="State" class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47]  placeholder:font-semibold placeholder:text-[#413d3d] h-12 lg:h-14 p-3  rounded-lg border bg-[#fff6e5] border-gray-300">
                </div>
    
                <input type="password" placeholder="Password" class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47]  placeholder:font-semibold placeholder:text-[#413d3d] w-full h-12 lg:h-14 p-3  rounded-lg border bg-[#fff6e5] border-gray-300">
                <input type="password" placeholder="Confirm Password" class="input-field focus:outline-none focus:ring-2 focus:ring-[#e95b47]  placeholder:font-semibold placeholder:text-[#413d3d] w-full h-12 lg:h-14 p-3  rounded-lg border bg-[#fff6e5] border-gray-300">
    
                <p class="text-start text-sm lg:text-lg font-bold text-gray-300 mt-4">
                    Already have an account? <a href="{% url 'login' %}" class="text-[#e95b47] hover:underline">Login Now</a>
                </p>
    
                <div class="text-center mt-6">
                    <button type="submit" class="w-full bg-[#e95b47] text-white py-3 rounded-lg font-semibold hover:bg-[#e66655] transition text-lg">Register</button>
                </div>
            </form>
    
            <div class="bg-[#ffeb3b] text-black text-start py-3 rounded-lg mt-8 flex items-center justify-center font-extrabold text-sm lg:text-lg ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 9v2.25m0 2.25h.008v.008H11.25v-.008zm-5.992 7.522A9 9 0 1112 21a8.958 8.958 0 01-6.742-3.25m13.484-11.5l-.938 9.372m-5.6 0l-.938-9.372" />
                </svg>
                <span class="text-md font-medium">Please make sure you update the status of your post after the pet is adopted successfully.</span>
            </div>
        </div>
    </div>
    
    <footer class="bg-[#062d3e] p-8">
        <div class="container mx-auto flex flex-col md:flex-row justify-between">

            <!-- First Section -->
            <div class="flex flex-col mb-8 md:mb-0 flex-1">
                <div class="flex items-center mb-4"> <!-- Added margin bottom to space the logo and title -->
                    <img src="http://localhost:8000/media/image/logo.png" alt="PetAdopt Logo" class="object-cover w-24 rounded-md">
                    <h1 class="text-3xl font-bold text-white ml-2">pet<span class="text-[#e95b47]">adopt</span></h1>
                </div>
                <p class="text-white mb-2 text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    varius enim in eros elementum tristique.</p>
                <hr class="border-t-2 border-white my-5">
                <p class="text-white text-lg">© 2024 Petadopt is a registered trademark. All Rights Reserved.</p>
            </div>

            <!-- Second Section -->
            <div class="mb-8 md:mb-0 flex-1 flex flex-col justify-center items-center">
                <div class="w-full  flex-none lg:flex  items-center justify-center max-w-xs">
                    <!-- Set max width for smaller size -->
                    <div>
                        <h3 class="font-bold text-[#e95b47] mb-4 text-xl text-start">Links</h3>
                        <!-- Centered the heading -->
                        <hr class="border-t-2 border-white mb-2 w-28 "> <!-- Centered the hr -->
                        <ul class="space-y-2 text-start">
                            <li><a href="#" class="text-white text-lg hover:text-blue-300">Home</a></li>
                            <li><a href="#" class="text-white text-lg hover:text-blue-300">Top Contributors</a></li>
                            <li><a href="#" class="text-white text-lg hover:text-blue-300">Pet</a></li>
                            <li><a href="#" class="text-white text-lg hover:text-blue-300">About Us</a></li>
                            <li><a href="#" class="text-white text-lg hover:text-blue-300">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Third Section -->
            <div class="flex flex-col flex-1">
                <div class="bg-[#fff6e5] p-4 rounded-md shadow-md flex-1">
                    <p class="text-[#062d3e] font-bold text-lg">Email: example@example.com</p>
                    <p class="text-[#062d3e] font-bold text-lg">Phone: (123) 456-7890</p>
                    <div class="mt-4">
                        <h4 class="text-md text-xl text-[#062d3e] font-bold">Follow Us:</h4>
                        <div class="flex space-x-4 mt-2 justify-center"> <!-- Centered the social icons -->
                            <a href="#" class="text-[#062d3e] font-bold hover:text-blue-500">
                                <img src="./media/image/facebook-logo.png" alt="Facebook" class="w-6 h-6">
                            </a>
                            <a href="#" class="text-[#062d3e] font-bold hover:text-blue-500">
                                <img src="./media/image/youtube-logo.png" alt="YouTube" class="w-6 h-6">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

</body>

</html>